*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
}

@font-face{
    font-family: Syne Mono;
    src: url('../fonts/SyneMono-Regular.ttf');
}

.center{
    max-width: cacl(1280px - 180px);
    margin: 0 auto;
}

html,body{
    height: 100%;
    overflow: hidden;
}


/* Começo Site */ /* main */

.contentFlex{
    display: flex;
}

/* sideBar */

.sideBar{
    z-index: 98;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(30,30,30);
}

.sideInto{
    padding: 0 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menuButton{
    display: none;
    position: fixed;
    z-index: 999;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
.menuButton img{
    width: 100%;
    cursor: pointer;
}

.sideInto .boxImg{
    text-align: center;
}

.sideInto img{
    width: 80%;
    border: 6px solid rgb(44, 44, 44);
    border-radius: 50%;
}

.sideInto nav{
    margin-top: 25px;
    text-align: center;
}

.sideInto nav ul{
    list-style-type: none;
}

.sideInto nav ul li{
    margin-bottom: 15px;
}

.sideInto nav ul li a{
    text-decoration: none;
    color: rgb(15, 214, 208);
    opacity: 0.3;
    transition: 0.3s;
    font-size: 24px;
    transition: 1s;
    cursor: pointer;
}

.sideInto nav ul li a:hover{
    opacity: 0.6 !important;
    font-size: 25px;
}

/* backgrounds */

.bgSobre{
    display: block;
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2%;
}

.bgSkill{
    /* display: none; */
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2%;
}

.bgCertificates{
    /* display: none; */
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2%;
}

.bgContact{
    /* display: none; */
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 0 2%;
}


/* Content (parte do conteudo) */

section .content{
    position:absolute;
    height: 100%;
    width: 80%;
    left: 20%;
    /* padding: 0 2%; */
}

/* sections de conteudo */ /* Sobre */

section .sobre{
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

section .sobre h2{
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

section .sobre h3{
    color: rgb(216, 216, 216);
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}

section .sobre h3 a{
    text-decoration: none;
    color: rgb(15, 214, 208);
}

section .sobre span{
    color: rgb(15, 214, 208);
}

section .sobre p{
    width: 80%;
    color: white;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 15px;
}

section .sobre p a{
    text-decoration: none;
    color: rgb(15, 214, 208);
    font-size: 17px;

    transition: 1s;
}

section .sobre p a:hover{
    font-size: 20px;
}

section .sobre .two a{
    margin-top: 10px;
    color: rgb(15, 214, 208);
    opacity: 0.6;
    font-size: 25px;
    margin-right: 10px;
    transition: 0.3s;
}

section .sobre .two a:hover{
    font-size: 28px;
    opacity: 1;
}


/* habilidades */

section .skill{
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}



section .skill .skillBox{
    width: 500px;
    margin-bottom: 70px;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

section .skill .skillBox h2{
    font-size: 35px;
}

section .skill .skillBox a{
    text-decoration: none;
    transition: 1s;
}

section .skill .skillBox a:hover{
    font-size: 37px;
}



section .skill .skillFlex{
    display: flex;
    justify-content: space-between;
}

section .skill h2{
    font-size: 35px;
}

section .skill h2 span{
    color:rgba(15, 214, 207, 1);
}

section .skill ul{
    list-style-type: none;
}

section .skill ul li{
    margin: 10px 0;
    font-size: 17px;
}

/* certificates */

section .certificates{
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

section .certificates .modal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section .certificates a{
    margin: 15px;
    max-width: 250px;
    width: 30%;
    
    transition: 1s;
}

section .certificates img{
    width: 100%;
}

section .certificates a:hover{
    width: 33.3%;
}

/* responsivo */

@media screen and (max-width:940px){
    /* SideBar */

    .none{
        display: none !important;
    }
    
    .sideBar{
        z-index: 98;
        width: 250px;
        position: fixed;
        display: block;
    }

    .menuButton{
        display: block;

    }

    .menuButton img{
        width: 100%;
        color: white;
    }


    /* Main Content */

    section .content{
        position: static;;
        height: 100vh;
        width: 100%;
        left: 0;
        text-align: center;
    }

    /* Sobre */

    section .sobre p{
        width: 100%;
    }

    /* Skills */

    section .skill .skillBox h2{
        font-size: 30px;
    }

    section .skill .skillBox a:hover{
        font-size: 32px;
    }

    /*  */

    section .skill .skillFlex{
        justify-content: space-evenly;
    }

    section .skill h2{
        font-size: 27px;
    }

    section .skill ul{
        text-align: left;
    }

    section .skill ul li{
        font-size: 15px;
    }

    /* certificados */

    section .certificates .modal{
        width: 100%;
    }

    section .certificates a{
        margin: 6px;    
        width: 46%;
    }

    section .certificates a:hover{
        width: 47%;
    }
}